@font-face {
    font-family: PT Root;
    src: url(assets/ptroot.woff2);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: PT Root;
    font-size: 13px;
    line-height: 1.5;

    background-color: #0B2B40;
    color: #FFFFFF;
}

header {
    position: fixed;
    top: 24px;
    left: 24px;
    z-index: 1;
}

/* img {
    width: 92%;
    height: 95%;
} */

section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 100vh;
}

section div.split {
    display: flex;
    align-items: center;
    justify-content: center;
}

section div.split:first-child {
    background-color: #164773;
}

section div.slides {
    width: 450px;
    height: 620px;
    position: relative;
    
}

section div.slides img {
    position: absolute;
    top: 0;
    left: 0;
    width: 450px;
    height: 620px;
}

section div.info {
    max-width: 480px;
}

section h2 {
    font-size: 30px;
}

section p {
    margin: 32px 0 0 0;
}

